.App {
  text-align: center;
}
button {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 1px solid #867070;
  background: #d5b4b4;
  color: #ffffff;
}
