.App {
  text-align: center;
}
button {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 1px solid #867070;
  background: #d5b4b4;
  color: #ffffff;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}
button:hover {
  background: #867070;
  border-color: #d5b4b4;
  color: #ffffff;
  transform: scale(1.1);
}
