.App {
  text-align: center;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 1px solid #3f0071;
  background: #610094;
  color: #ffffff;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}
button:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #610094;
  transform: scale(1.1);
}
